<div class="container">
                    <div class="page-title">
                        <h3>Documents
                          <a href="roles.html" class="btn btn-sm btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-circle"></i> Add</a>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Signin Modal</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body text-left">
                                          <p>Upload document</p>
                                          <form accept-charset="utf-8" enctype="multipart/form-data" id="upload_file" action="/upload" name="upload_file" method="POST">
                                              <div class="form-group">
                                                  <label for="email">Choose file</label>
                                                  <input type="file" name="document" placeholder="Upload document" class="form-control">
                                              </div>
                                             
                                              <div class="form-group">
                                                  <button type="button" class="btn btn-primary" onClick="upload()">Upload</button>
                                              </div>
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                        </h3>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <table width="100%" class="table table-hover" id="docs">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>File Name</th>
                                        <th>Content Type</th>
                                        <th>Size</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody id="docs_body">
                                    <!--tr>
                                        <td>Philip Chaney</td>
                                        <td>philip.chaney@gmail.com</td>
                                        <td>Manager</td>
                                        <td>Admin</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Doris Greene</td>
                                        <td>ms.greene@outlook.com</td>
                                        <td>Writer</td>
                                        <td>Staff</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mason Porter</td>
                                        <td>mason_porter@gmail.com</td>
                                        <td>Contributor</td>
                                        <td>Staff</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Minerva Hooper</td>
                                        <td>minerva.hooper@gmail.com</td>
                                        <td>Administrator</td>
                                        <td>Admin</td>
                                        <td>Disabled</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Jessie Williams</td>
                                        <td>jessie@gmail.com</td>
                                        <td>Administrator</td>
                                        <td>Admin</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Peter Benhams</td>
                                        <td>pette@gmail.com</td>
                                        <td>Editor</td>
                                        <td>Staff</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Jose Rodriguez</td>
                                        <td>jose.rodz@gmail.com</td>
                                        <td>Author</td>
                                        <td>Staff</td>
                                        <td>Active</td>
                                        <td class="text-right">
                                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>